<footer>
    <div class="f-info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="f-info-links">
                        <a href="/privacy">Privacy</a>
                        <a href="/terms">Terms</a>
                        <a href="/sitemap">Sitemap</a>
                        <a href="/company">Company Details</a>
                        <a href="/support">Support</a>
                        <a href="/careers">Careers</a>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="f-info-social">
                        <i class="fa-brands fa-facebook" title="Facebook"></i>
                        <i class="fa-brands fa-instagram" title="Instagram"></i>
                        <i class="fa-brands fa-twitter" title="Twitter"></i>
                        <i class="fa-brands fa-linkedin" title="LinkedIn"></i>
                        <i class="fa-brands fa-youtube" title="YouTube"></i>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="f-info-brand">
                        <span>© 2024 WanderStay, Inc. • Made By Kavya Sharma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>